// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-3);

  .author {
    font-size: 1.2rem;
  }
}

.masthead-title {
  margin-bottom: 0;
  color: var(--pink);

  a {
    color: inherit;
  }

  small {
    font-weight: 600;
    opacity: 0.90;
  }
}

// Navbar styles
.nav {
  line-height: 1.25rem;
  word-spacing: 1rem;
}

@media (min-width: 30em) {
  .nav {
    float: right;
  }
}

@media (max-width: 30em) {
  .nav {
    font-size: 80%;
  }
}

