.print-only {
  display: none;
}

@media print {
  .print-only {
    display: block;
  }
  .no-print {
    display: none;
  }

  body.resume {
    font-size: 90%;
    background: none;
    color: black;
    line-height: 1.1;

    header {
      display: none;
    }

    h1 {
      color: black !important;
      font-size: 1.2rem;
    }

    h2 {
      color: black;
      font-size: 1.1rem;
      margin-bottom: 0.2rem;
    }

    h3 {
      color: black;
      font-size: 1.0rem;
      margin: 0;
    }
  }
}
