.print-only {
  display: none;
}

@media print {
  .print-only {
    display: block;
  }
  .no-print {
    display: none;
  }

  body {
    background: none;
  }
  
  html.resume {
    body {
      font-size: 12px;
      line-height: 1.1rem;
      color: black;
    }
    
    h1, h2, h3, h4, h5, h6 {
      color: black;
      margin-top: 1.0rem;
      line-height: 1.1;
    }
    h1 { font-size: 18px; }
    h2 { font-size: 16px; }
    h3 { font-size: 14px; }
    h4 { font-size: 13px; text-transform: capitalize; }
    h5, h6 { font-size: 12px; }
    
    ul li {
      margin: 0;
      padding: 0;
    }

    li + li {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
    }

    .print-header {
      float: right;
      font-size: 50%;
    }
    
    header {
      display: none;
    }
    
    .container {
      max-width: 90%;
    }
    
    p {
      margin-bottom: 0.2rem;
    }
    
    a {
      color: #0066cc;
    }
  }
}
