body {
	font-size: 20px;
	line-height: 1.5;
	margin: 0 5px;
	font-family: corbel, 'lucida grande', helvetica, sans-serif;
	color: #212122;
	background-color: #fff;
}

#wrapper {
	max-width: 650px;
	margin: 0 auto;
}

#menu li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

#header {
	text-align: center;
}

#header h1 {
  margin-bottom: 10px;
}

#header h1 a, #header h1 a:link, #header h1 a:visited, #header h1 a:hover {
	color: #000;
	text-decoration: none;
  font-size: 120%;
}

h4#byline {
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer {
	text-align: center;
	font-size: 80%;
}

.post h1 {
	font-size: 22px;
}

.post-list tr, .post-list td {
	text-align: left;
}

.post-list td.date {
	width: 22%;
}

#subscribe_link img {
	outline: none;
	border: none;
}

#menu a {
	text-decoration: none;
	outline: none;
}

.centeredImage
{
  text-align:center;
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
}

.caption {
	font-size: 70%;
}
