<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Rob Sanheim - Panasonic Youth - {{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8"/>
    <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/jquery.github.js" type="text/javascript" charset="utf-8"></script>
    </script>
  </head>
  <body>
    <div id='wrapper'>
      
      <div id='header'>
        <h1><a href='/'>Panasonic Youth</a></h1>
        <h4 id="byline">Rob Sanheim's blog</h4>
        
        <div id='menu'>
          <ul>
            <li><a href='/archive' id='blog_link' title='Blog'>Archive</a></li>
            <li><a href='/about.html' id='about_link' title='About'>About</a></li>
            <li><a href='https://github.com/rsanheim' title='Rob Sanheim on GitHub' rel='me' id='github_link'>GitHub</a></li>
            <li><a href='http://twitter.com/rsanheim' title='Rob Sanheim on Twitter' rel='me' id='twitter_link'>Twitter</a></li>
          </ul>
        </div>
      </div>
      
      <div id='content'>
        {{ content }}
        <div class='clearfix'></div>
      </div>
      
      <div id='footer'>
        Copyright &copy; 2021 Rob Sanheim. Some rights reserved. <br />
      </div>
      
    </div>
  </body>
</html>
